<!doctype html>
<title>{{ chapter }}</title>
<link rel=stylesheet href="{{ url_for('static', filename='style.css') }}" />
<h1>{{ suite }}</h1>
<h2>{{ chapter }}</h2>
<nav><a href="..">↑</a></nav>
<ul>
{% for section_num, (title, url, tests) in sections %}
  <li><a href="{{ url_for('section', suite=suite, chapter_num=chapter_num, section_num=section_num) }}">{{ title }}</a>,
  {{ len(tests) }} tests (
  {%- for label, grouped_tests in tests | groupby('result') | sort(0) %}
    {%- if len(grouped_tests) %}{{ len(grouped_tests) }} {{ label }}{% if not loop.last %}, {% endif %}{% endif -%}
  {% endfor -%}
)</li>
{% endfor %}
