{% extends '_layout.jinja2' %}

{% set title='Test Suites' %}

{% block main %}
  <ul>
    {% for suite in suites %}
      <li><a href="{{ url_for('suite', suite=suite ) }}">{{ suite }}</a>
    {% endfor %}
  </ul>
{% endblock main %}
