{% extends '_layout.jinja2' %}

{% set title='Test Suites' %}

{% block main %}
  <h2>Available Suites</h2>
  <ul>
    {% for suite in suites | sort %}
      <li><a href="{{ url_for('suite', suite=suite ) }}">{{ suites[suite].name }}</a>
    {% endfor %}
  </ul>

  <h2>Downloadable Suites</h2>
  <ul>
    {% for suite in missing_suites | sort %}
      <li><a href="{{ url_for('download_suite', suite=suite ) }}">{{ suite }}</a>
    {% endfor %}
  </ul>

  <form method="post">
    <input type="submit" value="Update" />
  </form>
{% endblock main %}
